

<div class="ui-g centered admin-panel-wrapper">
  <div class="ui-g-12">
    <h2 style="text-align: center">Account Panel</h2>

    <mat-tab-group mat-align-tabs="center" dynamicHeight>

      <mat-tab label="Current Active Jobs">
        <app-account-active-jobs></app-account-active-jobs>
      </mat-tab>

      <mat-tab label="Job History">
        <app-account-job-history></app-account-job-history>
      </mat-tab>

      <mat-tab label="Account Settings">
        <app-account-settings></app-account-settings>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>