<!-- In order for the dialog to display properly, `appendTo="body" must be present -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" appendTo="body"></p-confirmDialog>


<div id="loginFullDiv">
    <div class="ui-g">

        <mat-card class="ui-g-4 ui-sm-12 loginCard">

            <mat-spinner *ngIf="isLoading"></mat-spinner>

            <mat-card-title>
                System Login
            </mat-card-title>

            <p-messages></p-messages>

            <mat-card-content>
                <form class="ui-g" (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
                    <mat-form-field>
                        <input matInput type="email" placeholder="Email" name="email" ngModel #emailInput="ngModel" required email>
                        <mat-error *ngIf="emailInput.invalid">Please Enter Valid Email</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="password" name="password" ngModel matInput placeholder="Password"
                            #passwordInput="ngModel" required password>
                        <mat-error *ngIf="passwordInput.invalid">Enter valid password!</mat-error>
                    </mat-form-field>

                    <!-- <mat-card-actions> -->

                        <button class="ui-g-5 centeredButton" mat-raised-button color="primary"
                        *ngIf="!isLoading">Login</button>

                    <!-- </mat-card-actions> -->

                </form>

                

                <div class="ui-g" style="margin-top: 7px">

                    <!-- <button class="ui-g-4 centeredButton" mat-raised-button> FJLRS Wiki</button> -->

                    <button class="centeredButton" mat-raised-button (click)="getEmailForPasswdReset()"
                        color="secondary" *ngIf="!isLoading">Forgot Password?</button>

                    

                </div>


            </mat-card-content>

        </mat-card>
    </div>
</div>