<div class="stepsdemo-content">

  <mat-card>
    <mat-card-title>
      Additional Options
    </mat-card-title>
  
    <mat-card-subtitle>
      Extra options like pay for additional rush on your print, extra notes for the job here... etc.. 
    </mat-card-subtitle>
  
    <div style="align-content: right">
      <p-button label="Back" (onClick)="lastPage()" icon="pi pi-angle-left" iconPos="left"></p-button>

      <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
  </div>

  </mat-card>

</div>