<div class="stepsdemo-content">

  <mat-card>
    <mat-card-title>
      Additional Comments
    </mat-card-title>
  
    <mat-card-subtitle>
      Please use this page to provide any extra details surrounding this request that you think would be necessary.
    </mat-card-subtitle>


    <textarea [(ngModel)]="jobComments" [rows]="5" [cols]="60" pInputTextarea autoResize="autoResize"></textarea>

  
    <div style="align-content: right">
      <p-button label="Back" (onClick)="lastPage()" icon="pi pi-angle-left" iconPos="left"></p-button>

      <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
  </div>

  </mat-card>

</div>