<div class="stepsdemo-content">

  <mat-card>
    <mat-card-title>
      Select Material
    </mat-card-title>

    <p-messages></p-messages>
  
    <mat-card-subtitle>
      Get list of available materials and present user with dropdown menu to select
    </mat-card-subtitle>


    <p-dropdown placeholder="Select a Material" [options]="materials" [(ngModel)]="selectedMaterial" optionLabel="name" optionValue="matId" required></p-dropdown>

  
    <div style="align-content: right">
      <p-button label="Back" (onClick)="lastPage()" icon="pi pi-angle-left" iconPos="left"></p-button>

      <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
  </div>

  </mat-card>

</div>