<div class="ui-g centered admin-panel-wrapper">
  <div class="ui-g-12">
    <h2 style="text-align: center">3D Print Lab</h2>

    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <mat-tab label="Current Print Queue">

        This will give users a quick view at the current queue for print jobs

      </mat-tab>

    
      <mat-tab label="Account Settings">
        Not sure really yet what will go here, maybe like alert settings on your job movement?
        <!-- <app-account-settings></app-account-settings> -->
      </mat-tab>

    </mat-tab-group>
  </div>
</div>