<div class="ui-g centered admin-panel-wrapper">
  <div class="ui-g-12">
    <h2 style="text-align: center">3D Print Lab</h2>

    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <mat-tab label="Current Print Queue">

        This will give users a quick view at the current queue for print jobs

        <mat-card>
          <!-- search -->
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Printers">
            </mat-form-field>
  
            <table mat-table [dataSource]="queueDataSource" class="mat-elevation-z8">
              
              <!--
                <ng-container matColumnDef="Id">
                  <th mat-header-cell *matHeaderCellDef> Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              -->

                <!-- Ticket Description Column -->
                <ng-container matColumnDef="Description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <!--
                <ng-container matColumnDef="File ID">
                  <th mat-header-cell *matHeaderCellDef> File ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.fileId}} </td>
                </ng-container>
                -->

                <!-- Ticket Material Column -->
                <ng-container matColumnDef="Material ID">
                  <th mat-header-cell *matHeaderCellDef> Material ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.materialId}} </td>
                </ng-container>

                <!-- Ticket Date Column -->
                <ng-container matColumnDef="Created At">
                    <th mat-header-cell *matHeaderCellDef> Created At </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
                </ng-container>
  
                <!-- Ticket Created By Column -->
                <ng-container matColumnDef="Submitted By">
                  <th mat-header-cell *matHeaderCellDef> Submitted By </th>
                  <td mat-cell *matCellDef="let element"> {{element.submittedBy}} </td>
                </ng-container>
  
                <!-- Actions -->
                <ng-container matColumnDef="Open">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" >
                        <button mat-flat-button color="warn" (click)="deleteDialog(row.name)">Delete</button>
                    </td>
              </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
            </table>
  
            <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
        </mat-card>

      </mat-tab>

    
      <mat-tab label="Account Settings">
        Not sure really yet what will go here, maybe like alert settings on your job movement?
        <!-- <app-account-settings></app-account-settings> -->
      </mat-tab>

    </mat-tab-group>
  </div>
</div>