<div class="ui-g">

  <mat-card class="ui-g-11 centered" style="margin-top:10px;">
        
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
  
    <mat-card-title>
        Submit new 3D print request
    </mat-card-title>
  
    <!-- <mat-card-title >
        Edit 3D print request
    </mat-card-title> -->

    
  
  
    <form #newsForm="ngForm" *ngIf="!isLoading">


        <p-steps [model]="items"></p-steps>
  
        <!-- <mat-form-field>
            <mat-label>Upload .STL files</mat-label>
            <input matInput type="text" name="title" [ngModel]="news?.title" #title="ngModel">
            <mat-error *ngIf="title.invalid">Enter Valid Title</mat-error>
        </mat-form-field> -->

        <!-- <p-fileUpload #fileInput name="jobFiles" customUpload="true" (uploadHandler)="onUpload($event)"></p-fileUpload> -->

        <!-- <p-fileUpload name="myfile[]" multiple="multiple" customUpload="true"  (uploadHandler)="onUpload($event)" [showUploadButton]="false" [showCancelButton]="false"></p-fileUpload> -->
        <p-fileUpload name="myfile[]" customUpload="true" url="/api/printerlab/upload"></p-fileUpload>


        <p></p>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>


  
        <mat-form-field>
            <mat-label>Body of News Article</mat-label>
            <textarea matInput rows="6" name="content" [ngModel]="news?.content"
                #content="ngModel"></textarea>
  
            <!-- <p-editor name="content" [style]="{'height':'320px'}"></p-editor> -->
  
            <mat-error *ngIf="content.invalid">Enter Valid Content</mat-error>
  
        </mat-form-field>
  
        <button *ngIf="mode == 'edit'"
                mat-raised-button color="accent"
                (click)="onSaveNews(newsForm)">Update News Article
        </button>
  
        <button *ngIf="mode == 'create'" mat-raised-button color="primary" (click)="onSubmitJobRequest(newsForm)">
          Submit Job Request
        </button>
  
        
  
        <button *ngIf="mode == 'edit'" mat-raised-button color="warn" (click)="onDeleteNews(newsForm)">Delete
            News Article
        </button>
  
        <button *ngIf="mode == 'edit'" mat-raised-button color="primary"
            (click)="onCreateNewsPrep(newsForm)">New
            News Article
        </button>
  
        <button mat-raised-button color="warn" (click)="clearEditPanel()">Cancel
            </button>
  
    </form>
  
  
  </mat-card> 


</div>
