
  <div class="ui-g centered admin-panel-wrapper">
    <div class="ui-g-12">
      <h2 style="text-align: center">Admin Panel</h2>

      <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="News"><admin-manage-news></admin-manage-news></mat-tab>
        <mat-tab label="Users"><admin-manage-users></admin-manage-users></mat-tab>
        <mat-tab label="Alert System"><admin-manage-alert-emails></admin-manage-alert-emails></mat-tab>
        <mat-tab label="Printer Management"><admin-printer-management></admin-printer-management></mat-tab>
        <mat-tab label="Material Management"><admin-manage-materials></admin-manage-materials></mat-tab>
        <!-- <mat-tab label="Operation Hours"><app-manage-hours></app-manage-hours></mat-tab> -->

        <!-- <mat-tab label="Manage Departments"><app-manage-depts></app-manage-depts></mat-tab> -->


      </mat-tab-group>
    </div>
  </div>

