<div class="stepsdemo-content">

  <mat-card>
    <mat-card-title>
      Job Quote
    </mat-card-title>

    <p-messages></p-messages>
  
    <mat-card-subtitle>
      Take the file upload, maybe do some slicing or rough cost estimate on the server and present with the grams of plastic needed, then multiply by the material cost/gram and add the estimated time of print
    </mat-card-subtitle>

    This page will be blank until we address how we can potentially slice in the browser to get some rough estimates of how long and how much material will be used.
    
  
    <div style="align-content: right">
      <p-button label="Back" (onClick)="lastPage()" icon="pi pi-angle-left" iconPos="left"></p-button>

      <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
  </div>

  </mat-card>

</div>