<div class="ui-g">

  <mat-card class="ui-g-11 centered">

          <h1 style="text-align: center"> Manage Print Materials </h1>

          <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Materials">
              </mat-form-field>
  
              
              <table mat-table [dataSource]="MaterialDataSource" class="mat-elevation-z8">
                  
                  <mat-spinner *ngIf="isLoading"></mat-spinner>
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                          </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="onItemSelected(row)" (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                      </td>
                  </ng-container>
  
                <!-- Actions -->
                <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" >
                    <button mat-flat-button color="warn" (click)="deleteDialog(row.materialName)">Delete</button>
                </td>
                </ng-container>

                  <!-- Headline Column -->
                  <ng-container matColumnDef="Material Name">
                      <th mat-header-cell *matHeaderCellDef> Material Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.materialName}} </td>
                  </ng-container>
  
                  <!-- Posted Date Column -->
                  <ng-container matColumnDef="Material Type">
                      <th mat-header-cell *matHeaderCellDef> Material Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.materialType}} </td>
                  </ng-container>   
                  
                  <!-- Content Column -->
                  <ng-container matColumnDef="Material Price">
                          <th mat-header-cell *matHeaderCellDef> Material Price </th>
                          <td mat-cell *matCellDef="let element"> {{element.materialPrice}} </td>
                      </ng-container>    
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              </table>

              <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>

  </mat-card>

  <mat-card class="card-width-fit">
    <mat-card-title>
        <button mat-raised-button color="accent" style="margin-top: 7px;" (click)="addMaterial()" >Create New Material</button>
    </mat-card-title>
    
    <form>
        <mat-form-field class ="form-field-row">
            <mat-label>Material Name</mat-label>
            <input matInput 
                name="newMName"
                [(ngModel)]="newMaterialName"
            />
        </mat-form-field>

        <mat-form-field class ="form-field-row">
            <mat-label>Material Type</mat-label>
            <input matInput 
                name="newMType"
                [(ngModel)]="newMaterialType"
            />
        </mat-form-field>

        <mat-form-field class ="form-field-row">
            <mat-label>Material Price</mat-label>
            <input matInput 
                name="newMPrice"
                [(ngModel)]="newMaterialPrice"
            />
        </mat-form-field>
    </form>
  </mat-card>

</div>

