  

<div class="ui-g">

  <div class="ui-g-6 centered">

    <mat-card>
      <mat-card-title>
        Welcome to the Woodshop, {{loggedInUser.firstname}} {{loggedInUser.lastname}}!
      </mat-card-title>

      <mat-card-subtitle>
        INSERT THE CURRENT DATE HERE?
      </mat-card-subtitle>

      PEOPLE IN LAB CURRENTLY
      * NEED to allow employees to edit this list?

      <ul>
        <li>Woodshop 01</li>    
        <li>Woodshop 02</li>    
        <li>Woodshop 03</li>    
      </ul>
      
    </mat-card>

  </div>
</div>