<h2 style="text-align: center;">Manage System Email Accounts</h2>

<div class="ui-g">
  <div class="ui-g-12">
    <!-- <h1>Test pMessage alert bar</h1>-->
    <!-- <p-messages [(value)]="msgs"></p-messages> -->
  </div>

  <div class="ui-g-3 ui-sm-12">
    <h1>This is the ui-g-3</h1>

  </div>

  <div class="ui-g-9 ui-sm-12">
    <h1>I Am the calendar placement for loading operational hours...</h1>
    <h3>Also have an option to switch from fullcalendar implemtation to text based implementation... yess thats good</h3>
  </div>
