
<div class="ui-g">
  <mat-card class="ui-g-6 ui-sm-12 centered">
    <mat-card-title>
      Reset Password
    </mat-card-title>
    <div class="ui-g-12"><p-messages></p-messages></div>

    <form
      *ngIf="isValidResetRequest"
      [formGroup]="passwordResetForm"
      class="userInfo"
      (ngSubmit)="onUpdateNewUserPassword(passwordResetForm)">
        <mat-form-field class="example-full-width">
          <mat-label>New Password: </mat-label>
            <input
              matInput
              type="password"
              placeholder="password"
              formControlName="firstPasswd"
              id="firstPasswd"
              required>
            <mat-error *ngIf="passwordResetForm.hasError('required', 'firstPasswd')">
              Please enter password you would like to set
            </mat-error>


        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Confirm New Password: </mat-label>
            <input
              matInput
              type="password"
              placeholder="password"
              formControlName="secondPasswd"
              id="secondPasswd">
              <mat-error *ngIf="passwordResetForm.hasError('required', 'secondPasswd')">
                  Passwords must match!
                </mat-error>
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit">Update User Account Password</button>

        <!-- <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Leave a comment"></textarea>
                        </mat-form-field> -->
    </form>


    <!-- TODO add is loading -->

    <!-- TODO add a password reset form if the user has a valid password reset request -->

  </mat-card>
</div>
