<div class="navigation-container">
  <mat-toolbar color="primary" class="navigation-toolbar">

    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
      <!-- <mat-icon>menu</mat-icon> -->
      <!-- <span class="fas fa-camera"></span> using a <span> element to reference the icon -->
          <fa-icon [icon]="faBars" size="lg"></fa-icon>
    </button>

    <span [routerLink]="['/']">FJLRS</span>

    <span class="spacer"></span>

    <!-- <button mat-button *ngIf="!userIsAuthenticated" [routerLink]="['/auth/kioskLogin/wood']">WoodShop Kiosk Login</button>
    <button mat-button *ngIf="!userIsAuthenticated" [routerLink]="['/auth/kioskLogin/digital']">DigitalShop Kiosk Login</button> -->
    <button mat-button *ngIf="!userIsAuthenticated" [routerLink]="['/auth/login']">Login</button>
    <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</button>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a [routerLink]="['/']" mat-list-item>Main</a>
        <br>
        <a *ngIf="userIsAuthenticated" [routerLink]="['/']" mat-list-item>
          <fa-icon [icon]="faHome" size="lg"></fa-icon>&ensp;Home
        </a>

        <a *ngIf="userIsAuthenticated && userLevel == 'admin'" [routerLink]="['/auth/signup']" (click)="sidenavRef.close()" mat-list-item>
          <fa-icon [icon]="addUser" size="lg"></fa-icon>&ensp;Dev Create User
        </a>

        <!-- If User is an admin -->
        <a *ngIf="userIsAuthenticated && userLevel == 'admin'" [routerLink]="['/admin']" mat-list-item>
          <fa-icon [icon]="adminGate" size="lg"></fa-icon>&ensp;Admin
        </a>

        <!-- EMPLOYEE LEVEL NAV ITEMS -->
        <!-- Will come back and add these pages  -->
        <!-- <a *ngIf="userIsAuthenticated && (userLevel == 'employee' || userLevel == 'admin')" [routerLink]="['/employee']"
          mat-list-item>
          <fa-icon [icon]="employeeGate" size="lg"></fa-icon>&ensp;Employee
        </a> -->

        <!-- STUDENT/USER LEVEL NAV ITEMS -->
        <!-- <a *ngIf="userIsAuthenticated" [routerLink]="['/student']" mat-list-item>
          <fa-icon [icon]="studentGate" size="lg"></fa-icon>&ensp;Student
        </a> -->

        <!-- 3D Print Job Submission Module -->
        <a *ngIf="userIsAuthenticated" [routerLink]="['/printerlab']" (click)="sidenavRef.close()" mat-list-item>
          <fa-icon [icon]="cube" size="lg"></fa-icon>&ensp;3D Printer Lab
        </a>


        <!-- STUDENT/USER LEVEL NAV ITEMS -->
        <a *ngIf="userIsAuthenticated" [routerLink]="['/account']" (click)="sidenavRef.close()" mat-list-item>
          <fa-icon [icon]="userAccount" size="lg"></fa-icon>&ensp;User Account
        </a>

        <!-- LOGIN / LOGOUT Buttons, Contact Admin, Close Navigation Manually -->
        <a *ngIf="!userIsAuthenticated" [routerLink]="['/auth/login']" (click)="sidenavRef.close()" mat-list-item>
          <fa-icon [icon]="faSignIn" size="lg"></fa-icon>&ensp;Login
        </a>

        <a *ngIf="userIsAuthenticated" (click)="onLogout()" (click)="sidenavRef.close()" mat-list-item>
          <fa-icon [icon]="faSignOut" size="lg"></fa-icon>&ensp;Logout
        </a>


          <hr />
        <a mat-list-item href="https://git.uark.edu/ejmason/capstone-fjlrs/issues"><fa-icon [icon]="contact"></fa-icon>&ensp;Submit Bug</a>
        <!-- <a (click)="sidenav.toggle()" mat-list-item>Close Nav</a> -->

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      
      <router-outlet></router-outlet>
     
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
