

<div class="stepsdemo-content">

    <mat-card>
      <mat-card-title>
        Upload File
      </mat-card-title>
    
      <mat-card-subtitle>
        Currently we have a system that requires one Job Request PER file that needs to be printed.
      </mat-card-subtitle>

      <p-fileUpload #fileInput name="jobFiles" customUpload="true" (uploadHandler)="onUpload($event)"></p-fileUpload>

    
      <div style="align-content: right">
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
    </div>
  
    </mat-card>
  
  </div>